/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Google Fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');



/*
==========================================
    Start skill bar css
==========================================
*/

.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    width: 100%;
  }
  
  .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
  }
  
  .skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    display: inline-block;
  }
  
  .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
  }
  
  /*
==========================================
    End skill bar css
==========================================
*/


/*
==========================================
    Reset Css
==========================================
*/
html,body{
    height: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.section-padding{
    padding: 80px 0;
}
.section-header h2{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    position: relative;
}

.content-top-space{
    margin-top: 70px;
}

/*
==========================================
    Header Menu CSS
==========================================
*/
.header-main {
	position: absolute;
    z-index: 99;
    width: 100%;
}
.header-main::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	left: 0;
	top: 0;
	background: #393838;
	opacity: .49;
	z-index: -1;
}
nav.main-menu ul li {
	float: left;
	margin-left: 26px;
}
nav.main-menu ul {
    float: right;
}
nav.main-menu ul li a{
    color: #fff;
    text-transform: uppercase;
    padding: 38px 0px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    transition: .3s;
}
.logo img {
	margin-top: 16px;
}
nav.main-menu ul li a:hover{
    color:#fe320a;
}

/*
==========================================
    Header Img CSS
==========================================
*/
.header-img{
    background: url(../img/header-img.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    z-index: 0;
}
.header-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #252525;
    opacity: .42;
    z-index: -1;
}
.d-table{
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.d-table-cell{
    display: table-cell;
    vertical-align: middle;
}
.header-img .container,
.header-img .row,
.header-img .col-md-12{
    height: 100%;
}
.header-content{
    color: #fff;
    margin-top: 95px;
}
.header-content h1{
    font-family: 'Raleway',sans-serif;
    font-size: 70px;
    font-weight: 500;
}
.header-content h1 span{
    color: #fe320a;
    font-weight: 700;
}
.header-content p{
    width: 850px;
    margin: 22px auto 35px auto;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    line-height: 24px;

}
.header-content a{
    text-decoration: none;
    color: #fff;
    background-color: #fe320a;
    padding: 9px 32px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    transition: .3s;
}
.header-content a:hover{
    background: #fff;
    color: #fe320a;
}
.section-header h2 span{
    color: #fe320a;
}
.section-header h2::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 156px;
    margin-top: 8px;
    background: #fe320a;
    margin-left: -80px;
    top: 100%;
    left: 50%;
}
.section-header h2::before{
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    background: #fe320a;
    border-radius: 50px;
    top: 100%;
    left: 50%;
    margin-left: -8px;
}
/*
==========================================
    About Css
==========================================
*/
.nandine-about{
    background: #f6f6f6;
}
.about-left img {
    width: 100%;
    height: auto;
  }
  .about-left {
    position: relative;
    text-align: center;
    color: #fff;
  }
  .about-left .about-left-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
.about-left .about-left-details::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252525;
    z-index: -1;
    opacity: .69;
  }
  .about-left-details h4 {
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
  }
.about-left-details ul li a{
      display: inline-block;
  }
.about-left-details ul li {
	display: inline;
}
.about-left-details ul li a{
    color: #fff;
    font-size: 18px;
    background: #252525; 
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 5px;
    margin: 3px;
    transition: .3s;
}
.about-left-details {
    padding: 13px 0;
  }
.about-left-details ul li a:hover{
    background: #fe320a;
    color: #fff;
}
.about-right {
	margin-top: 30px;
}

.about-right h3 {
}
.about-right h3 {
  font-size: 26px;
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
}
.about-right p {
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  line-height: 22px;
  margin-top: 25px;
  color: #1e1e1e;
}
.about-right p strong {
  color: #515050;
}
.about-right a {
  text-decoration: none;
  font-size: 20px;
  background: #fe320a;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding: 10px 22px;
  margin-top: 25px;
  transition: .3s;
  border: 1px solid #fe320a;
}
.about-right a:hover{
    background: #fff;
    color: #fe320a;
    border: 1px solid #fe320a;
}
.video-area{
    background: url('../img/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: 0;
}

.video-area::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    left: 0;
    opacity:.60;
    z-index: -1;
  } 
.video-area h2{
    font-size: 36px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}
.video-icon a {
	text-decoration: none;
	color: #fff;
	font-size: 32px;
	border: 2px solid #fff;
	display: inline-block;
	width: 95px;
	height: 95px;
	line-height: 85px;
	border-radius: 10px;
    margin-top: 40px;
    transition: .3s;
}
.video-icon a:hover{
    background: #fff;
    color: #000;
}

/*
==========================================
         Our section 
==========================================
*/
.services-box i{
    color: #ff0000;
    font-size: 48px;
}
.services-box h4{
    font-size: 24px;
    color: #151515;
    font-family: 'Raleway',sans-serif;
    margin: 13px 0;
}
.services-box p{
    line-height: 24px;
    color: #252525;
}
.services-box {
	margin-top: 70px;
}



/*
==========================================
         My skill 
==========================================
*/
section.skill {
    background: #f3f3f3;
  }
  .skill-left h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
  }
  .skill-left p {
    font-weight: 300;
    color: #151515;
    line-height: 26px;
    margin-top: 20px;
  }
  .skill-left p:last-child {
      margin-top: 30px;
  }
  .skill-right h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Raleway',sans-serif;
    color: #1b1b1b;
  }
  .skill-right p {
	line-height: 26px;
	font-weight: 300;
	color: #2b2b2b;
	font-family: 'Raleway',sans-serif;
	margin-top: 18px;
} 
.mehedi-skill-bar p {
    margin-top: 0;
  }
.mehedi-skill-bar .skillbar{
    background: #000;
    height: 0;
    border-radius: 30px;
    padding: 10px 25px;
    overflow: hidden;
}
.mehedi-skill-bar p.skillbar-bar{
    background: #ff0000 !important;
    height: 10px;
    position: absolute;
    top: 5.1px;
    left: 4px;
    border-radius: 42px;
}
.mehedi-skill-bar span.skill-bar-percent{
    color: #fff;
    top: -8px;
    position: absolute;
}
.skillbar-item h5{
    font-size: 16px;
    color: #2c2b2b;
    font-weight: 400;
    margin-bottom: -5px;
    margin-top: 14px;
}
.mehedi-skill-bar .skillbar{
    margin-bottom: 0 !important;
}

/*
==========================================
         Counter 
==========================================
*/
.counter{
    background: url(../img/Counter-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    text-align: center;
    color: #fff;
      
}
.counter::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
    z-index: -1;
}
.counter-box i{
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 48px ;
    margin-bottom: 6px;
}
.counter-number{
    font-size: 30px;
    font-weight: 600;
}
.counter-name{
    font-size: 26px;
    text-transform:capitalize;
    font-weight: 600;
}
/*
==========================================
         Portfolio
==========================================
*/
.portfolio-menu{
    text-align: center;
}
.portfolio-menu button{
    background: transparent;
    border: 0;
    color: #3c3c3c;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: .3s;
}
.portfolio-menu button:hover{
    color: red;
}
.portfolio-item {
    margin-top: 36px;
    position: relative;
    transition: .3s;
}
.portfolio-item img{
    max-width: 100%;
}
.portfolio-item:hover .portfolio-item-hover{
    visibility: visible;
    opacity: 1;
}
.portfolio-item-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background: #ff000087;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
}
.portfolio-item-hover a{
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}
/*
==========================================
         Team css
==========================================
*/
.team-item{
    position: relative;
}
.team-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    color: #fff;
}
.team-item-hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: .3s;
}
.team-item:hover .team-item-hover::after{
     visibility: visible;
     opacity: .44;
}
.team-hover-content{
    background: red;
    position: absolute;
    width: 100%;
    bottom: -68px;
    height: auto;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    transition: .3s;
    cursor: pointer;
}
.team-item:hover .team-hover-content{
    bottom: 0;
}
h4.team-name{
    text-transform: uppercase;
}
.team-hover-content ul li{
    display: inline;
}
.team-hover-content ul li a{
    color: #fff;
    font-size: 18px;
    margin: 0 5px;
}
.team-hover-content ul{
    margin-top: 4px;
}
.team.section-padding {
    background: #f3f3f3;
  }
/*
==========================================
         Testimonial css
==========================================
*/
.testimonial{
    background: url('../img/testimonial/testimonial-bg.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
}
.owl-carousel-testimonial img{
 width: 100px !important;
 margin: 0 auto;
 border-radius: 15%;
}
h4.testimonial-name{
    text-transform: uppercase;
    font-size: 18px;
    margin: 12px 0;
}

.testimonial::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: -1;
  }
.testimonial p{
    font-weight: 300;
}

/*
==========================================
         Blog css
==========================================
*/
.blog-details {
	padding: 25px;
}
.blog-item{
    box-shadow: 0 0 10px #ddd;
}
.blog-item img{
    max-width: 100%;
    border-bottom: 8px solid #464646;
}
h4.blog-title{
    font-size: 24px;
    color: #433f3f;
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
}
.blog-details.date{
    font-size: 13px;
    margin: 12px;
    margin-bottom: 20px;
}
.blog-details p{
    line-height: 24px;
    color: #433f3f;
}
a.blog-button{
    text-decoration: none;
    background: #252525;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 14px;
    transition: .3s;
    display: inline-block;
    border: 1px solid #252525;
}
a.blog-button:hover{
    background: transparent;
    color: #252525;
}
.date i {
	margin-right: 5px;
}

/*
==========================================
         contact css
==========================================
*/
.contact{
    background: url('../img/contact-bg.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
    color: #fff;
}
.contact::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    background: #000000;
    opacity: .55;
}
