/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Google Fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*
==========================================
    Reset Css
==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*
==========================================
    Header Menu CSS
==========================================
*/
.header-main {
	position: relative;
	z-index: 0;
}
.header-main::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	left: 0;
	top: 0;
	background: #393838;
	opacity: .49;
	z-index: -1;
}
nav.main-menu ul li {
	float: left;
	margin-left: 26px;
}
nav.main-menu ul {
    float: right;
}
nav.main-menu ul li a{
    color: #fff;
    text-transform: uppercase;
    padding: 38px 0px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    transition: .3s;
}
.logo img {
	margin-top: 16px;
}
nav.main-menu ul li a:hover{
    color:#fe320a;
}